body {
  font-family: "Saira Semi Condensed", sans-serif;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 10px;
}

.button-small {
  border-radius: 8px;
  border: none;
  background-color: black;
  transition: all 500ms;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  padding: 3px 0;
  width: 150px;
  height: 25px;
  margin-top: 10px;
}

.button-small:hover, .button-small:focus {
  -webkit-box-shadow: 2px 5px 16px -6px white;
  -moz-box-shadow: 2px 5px 16px -6px white;
  box-shadow: 2px 5px 16px -6px white;
  border: 1px solid red;
}

.btn-small-title {
  color: white;
}

.login-form__btn-link,
.register-form__btn-link {
  color: white;
  letter-spacing: 1.5px;
  font-weight: 500;
}

.button-big {
  margin-top: 10px;
  width: 150px;
  height: 80px;
  border-radius: 8px;
  border: none;
  background-color: black;
  transition: all 500ms;
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
}

.button-big:hover, .button-big:focus {
  border: 1px solid red;
  -webkit-box-shadow: 2px 5px 16px -6px white;
  -moz-box-shadow: 2px 5px 16px -6px white;
  box-shadow: 2px 5px 16px -6px white;
}

.choose-action__login {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.choose-action__space {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #435570;
  border-radius: 8px;
  max-width: 400px;
  background-color: rgba(120, 190, 32, 0.9);
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: all 500ms;
}

.choose-action__space:hover, .choose-action__space:focus {
  -webkit-box-shadow: 2px 5px 16px -6px #6fa2dd;
  -moz-box-shadow: 2px 5px 16px -6px #6fa2dd;
  box-shadow: 2px 5px 16px -6px #6fa2dd;
}

.login__space {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #435570;
  border-radius: 8px;
  max-width: 400px;
  background-color: rgba(120, 190, 32, 0.9);
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: all 500ms;
}

.login__space:hover, .login__space:focus {
  -webkit-box-shadow: 2px 5px 16px -6px #6fa2dd;
  -moz-box-shadow: 2px 5px 16px -6px #6fa2dd;
  box-shadow: 2px 5px 16px -6px #6fa2dd;
}

.register__space {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #435570;
  border-radius: 8px;
  max-width: 400px;
  background-color: rgba(120, 190, 32, 0.9);
  -webkit-box-shadow: 2px 5px 16px -6px #42445a;
  -moz-box-shadow: 2px 5px 16px -6px #42445a;
  box-shadow: 2px 5px 16px -6px #42445a;
  transition: all 500ms;
}

.register__space:hover, .register__space:focus {
  -webkit-box-shadow: 2px 5px 16px -6px #6fa2dd;
  -moz-box-shadow: 2px 5px 16px -6px #6fa2dd;
  box-shadow: 2px 5px 16px -6px #6fa2dd;
}

.choose-action__header {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.login__header {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

.register__header {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */