@import "./utils/variables";
@import "./utils/mixins-global";
@import "./utils/visually-hidden";

@import "./base/common";
@import "./base/container";

@import "./component/buttons";
@import "./component/buttons-big";
@import "./component/forms";

@import "./layout/index/choose-action";
@import "./layout/home/hero-space";
@import "./layout/home/aboute-space";
@import "./layout/home/report-space";
@import "./layout/home/footer";
@import "./layout/driver/modal-form-driver";
@import "./layout/driver/driver-header";
@import "./layout/driver/reported-routes";
@import "./layout/passanger/passanger-header";

@import "./pages/index/login-header";
@import "./pages/home/hero-headers";
@import "./pages/home/aboute";
@import "./pages/home/footer-content";
@import "./pages/driver/driver-header";
@import "./pages/driver/reported-routes";