.reported-routes__header {
  @include headers-h3;
  color: $secondary-color;
}

.reported-routes__item {
  @include box;
  margin-bottom: 15px;
  text-align: left;
}

.reported-routes__record-item {
  margin-bottom: 15px;
}

.reported-routes__record-item-description {
  @include descriptions;
  padding-right: 20px
}

.reported-routes__record-item-content {
  // margin-left: 10px;
  @include description-second;
}

.description-third {
  @include descriptions;
  margin-left: 30px;
}