.form-driver {
  @include box;
  text-align: left;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
}

.form-driver__btn {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize($color: $thirdly-color, $amount: 0.3);
  transition: all 1000ms;
}