.footer {
    background-color: $thirdly-color;
}

.footer .container {
    padding: 30px;
    min-height: 120px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.5),
        rgba(47, 48, 58, 0.5)),
        url(../images/bc_them480.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .footer .container {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.5),
            rgba(47, 48, 58, 0.5)),
            url(../images/bc_them960@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}