.hero {
  background-color: $thirdly-color;
}

.hero .container {
  padding: 40px 30px;
  min-height: 320px;
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.2),
    rgba(47, 48, 58, 0.2)),
    url(../images/road_with_signpost_and_handshake480.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero .container {
    padding: 40px 30px;
    min-height: 320px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.2),
        rgba(47, 48, 58, 0.2)),
      url(../images/road_with_signpost_and_handshake960@2x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}