.button-big {
  margin-top: 10px;
  width: 150px;
  height: 80px;
  @include btn-basic-setup;
  @include shadow-grey;
  &:hover,
  &:focus {
    border: 1px solid $fourthly-color;
    @include shadow-white;
  }
}

.btn-big-title {
  @include btn-big-title;
}