.button-small {
  @include btn-basic-setup;
  @include shadow-grey;
  padding: 3px 0;
  width: 200px;
  height: 25px;
  margin-top: 10px;
  &:hover,
  &:focus {
    @include shadow-white;
    border: 1px solid $fourthly-color;
  }
}

.btn-small-title {
  color: $secondary-color;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

// xxxxxxxxxxxxxx TEMPORARY START xxxxxxxxxxxxx
.login-form__btn-link,
.register-form__btn-link {
  color: $secondary-color;
  letter-spacing: 1.5px;
  font-weight: 500;
}
// xxxxxxxxxxxxxx TEMPORARY END xxxxxxxxxxxxx

.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  background-color: transparentize($color: $main-color, $amount: 0.1);
  transition: all 500ms;
  &:hover,
  &:focus {
    border: 1px solid $fourthly-color;
    background-color: $thirdly-color;
    color: $secondary-color;
  }
}