// =======================IS HIDDEN=========================
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms;
}
// =======================IS HIDDEN END=========================



// ============================INDEX START===========================
.login-form__title {
  @include forms-title;
}

.register-form__title {
  @include forms-title;
}

.form-input {
  @include forms-input;
}

.form-space {
  @include forms-input-space;
  @include shadow-grey;
}
// ============================INDEX END===========================



// ============================DRIVER START===========================

.form-driver__title {
  @include forms-title;
}

.form-driver__subtitle {
  @include forms-subtitle;
  margin-left: 15px;
}

.form-driver__input {
  @include forms-input;
  
}

.form-driver__input-space {
  @include forms-input-space;
  @include shadow-grey;
  margin-left: 15px;
  margin-bottom: 15px;
}
#form-driver__locality-comment {
  min-height: 60px;
}