@mixin box {
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;

  border: 1px solid rgb(67, 85, 112);
  border-radius: 8px;
  max-width: 400px;
  // background-color: $main-color;
  background-color: transparentize($color: $main-color, $amount: 0.1);
  -webkit-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  transition: all 500ms;

  &:hover,
  &:focus {
    -webkit-box-shadow: 2px 5px 16px -6px rgb(111, 162, 221);
    -moz-box-shadow: 2px 5px 16px -6px rgb(111, 162, 221);
    box-shadow: 2px 5px 16px -6px rgb(111, 162, 221);
  }
}

@mixin headers-h3 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

@mixin shadow-grey {
  -webkit-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
  box-shadow: 2px 5px 16px -6px rgba(66, 68, 90, 1);
}

@mixin shadow-white {
  -webkit-box-shadow: 2px 5px 16px -6px rgb(255, 255, 255);
  -moz-box-shadow: 2px 5px 16px -6px rgb(255, 255, 255);
  box-shadow: 2px 5px 16px -6px rgb(255, 255, 255);
}

@mixin btn-basic-setup {
  border-radius: 8px;
  border: none;
  background-color: $thirdly-color;
  transition: all 500ms;
}

@mixin btn-big-title {
  color: $secondary-color;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

// ======================FORMS START==========================

@mixin forms-title {
  text-transform: uppercase;
  letter-spacing: 2.8px;
  font-weight: 600;
  font-size: 12px;
  color: $secondary-color;
}

@mixin forms-subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 12px;
  color: $color-font-theme3;
}

@mixin forms-input {
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  height: 20px;
  color: $color-font-theme1;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-weight: 500;
  background-color: $color-bc-forms;
  transition: all 500ms;

  &:hover,
  &:focus {
    border: 1px solid $fourthly-color;
    background-color: $secondary-color;
  }
}

@mixin forms-input-space {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 250px;
  border-radius: 8px;
  transition: all 500ms;

  &:hover,
  &:focus {
    -webkit-box-shadow: 2px 5px 16px -6px rgb(255, 255, 255);
    -moz-box-shadow: 2px 5px 16px -6px rgb(255, 255, 255);
    box-shadow: 2px 5px 16px -6px rgb(255, 255, 255);
  }
}

// ======================FORMS END==========================

@mixin descriptions {
  letter-spacing: 1.5px;
  font-weight: 500;
  color: $color-font-theme2;
  line-height: 1.3;
}

@mixin description-second {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 14px;
  color: $secondary-color;
}

@mixin center-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, 50%);
}