$main-font: 'Saira Semi Condensed',
sans-serif;
$secondary-font: 'Roboto Mono',
monospace;

$main-color:#78BE20;
$secondary-color:white;
$thirdly-color: black;
$fourthly-color: red;

$color-font-theme1:#555;
$color-font-theme2: rgb(250, 252, 231);
$color-font-theme3: rgb(148, 148, 148);

$color-bc-forms:rgb(230, 230, 230)