$main-font: 'Saira Semi Condensed',
sans-serif;
$secondary-font: 'Roboto Mono',
monospace;

$main-color:#78BE20;
$secondary-color:white;
$thirdly-color: black;
$fourthly-color: red;

$color-font-theme1:#555;
